<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>播放</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body style=" background-color: #2B2E33;">
<!--响应式的导航-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img />此处放logo</a>
            <!--隐藏时的按钮-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <!--三根线-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分 屏幕缩小后自动隐藏-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-top: 0px;">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  首页</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span>  课程</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star-empty"></span> 个人中心</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-off"></span> 登录</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> 注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--视频播放-->
<div class="container">
    <div class="media" id="play">
        <div class="row" >
            <div class="col-md-8 media-left">
                    <video class="media-play" src="/images/青鸟飞翔.mp4"  controls preload="metadata"></video>
            </div>

            <div class="col-md-4">
                <div class="media-body">
                    <h4 class="media-heading">小学英语教程</h4>
                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>(1.1分评价)</p>
                        <p>发布者：星博教育</p>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">
                               讨论
                            </a>
                        </li>
                        <li><a href="#ios" data-toggle="tab">目录</a></li>
                        <li><a href="#java" data-toggle="tab">社区</a></li>

                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
                        </div>
                        <!--目录-->
                        <div class="tab-pane fade" id="ios">
                            <a href="#" class="list-group-item">
                              单词练习
                                <span class="badge">第一章</span>
                            </a>
                            <a href="#" class="list-group-item">语法提高 <span class="badge">第一章</span></a>
                            <a href="#" class="list-group-item">文章阅读 <span class="badge">第一章</span></a>
                            <a href="#" class="list-group-item">篇章练习 <span class="badge">第一章</span></a>
                            <a href="#" class="list-group-item">题目分析 <span class="badge">第一章</span></a>

                        </div>
                        <div class="tab-pane fade" id="java">
                            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<!--
<div class="media">

    <div class="media-left">
        <div class="media-body">
            <video class="media-object"src="/images/青鸟飞翔.mp4"  controls preload="metadata"></video>
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">媒体标题</h4>
        这是一些示例文本。这是一些示例文本。
        这是一些示例文本。这是一些示例文本。
        这是一些示例文本。这是一些示例文本。
        这是一些示例文本。这是一些示例文本。
        这是一些示例文本。这是一些示例文本。
    </div>
</div>-->
</body>
</html>